<!DOCTYPE html>
<html>

<% include ../head.ejs %>

<body>


<div class="container">
    <h1 class="text-center"><%= title %></h1>

    <form class="form-horizontal" method="post" action="/books">
        <div class="form-group">
            <label class="control-label col-sm-2">ISBN:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="isbn">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2">Title:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="title">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2">Author:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="author">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2">Category:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="category">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2">Stock:</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" name="stock">
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </div>
    </form>

    <table class="table">
        <tr>
            <td>Id</td>
            <td>ISBN</td>
            <td>Title</td>
            <td>Author</td>
            <td>Category</td>
            <td>Stock</td>
            <td>Action</td>
        </tr>

        <% for (var i = 0; i < books.length; i++) {%>
        <tr>
            <td><%= books[i]._id%></td>
            <td><%= books[i].isbn%></td>
            <td><%= books[i].title%></td>
            <td><%= books[i].author%></td>
            <td><%= books[i].category%></td>
            <td><%= books[i].stock%></td>
            <td>
                <a href="/books/edit/<%= books[i].id%>" class="btn btn-warning">Edit</a>
                <a href="/books/delete/<%= books[i].id%>" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        <% } %>

    </table>

</div>



<% include ../scripts.ejs %>

</body>
</html>
