<!DOCTYPE html>
<html>
  <head>
    <title>MongoCrud</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1 class="center">Mongo Crud Customer</h1>
    <br><br>
    <div class="container">
      <!-- form -->
      <form action="/api/customer/save" method="post">
        <div class="form-group">
          <label for="memberid">member ID</label>
          <input type="text" name="memberid" class="form-control" placeholder="ex: Cl0002">
        </div>

        <div class="form-group">
          <label for="name">name</label>
          <input type="text" name="name" class="form-control" placeholder="ex: toni chen">
        </div>

        <div class="form-group">
          <label for="address">Address</label>
          <input type="text" name="address" class="form-control" placeholder="ex: Kebayoran">
        </div>

        <div class="form-group">
          <label for="zipcode">Zip Code</label>
          <input type="text" name="zipcode" class="form-control" placeholder="ex: 14450">
        </div>

        <div class="form-group">
          <label for="phone">Phone</label>
          <input type="text" name="phone" class="form-control" placeholder="ex: 089-xxxx-xxxx ">
        </div>

        <button type="submit" class="btn btn-default">Submit</button>
      </form>

      <!-- view data here -->
      <table class="table">
        <thead>
          <tr>
            <th>No</th>
            <th>Member ID</th>
            <th>Name</th>
            <th>Address</th>
            <th>Zip Code</th>
            <th>Phone</th>
          </tr>
        </thead>
        <tbody>
          <% for(var i = 0; i < customer.length; i++){ %>
          <tr>
            <td><%= i + 1 %></td>
            <td scope="row"><%= customer[i].memberid %></td>
            <td><%= customer[i].name %></td>
            <td><%= customer[i].address %></td>
            <td><%= customer[i].zipcode %></td>
            <td><%= customer[i].phone %></td>
            <td>
              <form action="/api/customer/preUpdate" method="post">
                <input type="hidden" name="memberid" value="<%= customer[i].memberid %>">
                <button type="submit" class="btn btn-warning">Update</button>
              </form>
            </td>
            <td>
              <form action="/api/customer/deleted" method="post">
                <input type="hidden" name="memberid" value="<%= customer[i].memberid %>">
                <button type="submit" class="btn btn-danger">Delete</button>
              </form>
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </body>
</html>
