<% include stylescript %>

  <% if (collection == "books") { %>

    <h1>Update Book</h1>
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-3-offset">
          <form method="post" action="update" class="form-group">
            <input name="collection" type="hidden" value="books">
            <input name="_id" type="hidden" value="<%= book[0]._id %>">
            <div class="form-group">
              <label>ISBN</label>
              <input name="isbn" type="text" class="form-control" value="<%= book[0].isbn %>">
            </div>
            <div class="form-group">
              <label>Title</label>
              <input name="title" type="text" class="form-control" value="<%= book[0].title %>">
            </div>
            <div class="form-group">
              <label>Author</label>
              <input name="author" type="text" class="form-control" value="<%= book[0].author %>">
            </div>
            <div class="form-group">
              <label>Category</label>
              <input name="category" type="text" class="form-control" value="<%= book[0].category %>">
            </div>
            <div class="form-group">
              <label>Stock</label>
              <input name="stock" type="number" class="form-control" value="<%= book[0].stock %>">
            </div>
            <button type="submit" class="btn btn-primary">Update Book</button>
          </form>
        </div>
      </div>
    </div>

  <% } else if (collection == "customers") { %>

    <h1>Update Customer</h1>
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-3-offset">
          <form method="post" action="update" class="form-group">
            <input name="collection" type="hidden" value="customers">
            <input name="_id" type="hidden" value="<%= customer[0]._id %>">
            <div class="form-group">
              <label>Name</label>
              <input name="name" type="text" class="form-control" value="<%= customer[0].name %>">
            </div>
            <div class="form-group">
              <label>Member ID</label>
              <input name="memberid" type="text" class="form-control" value="<%= customer[0].memberid %>">
            </div>
            <div class="form-group">
              <label>Address</label>
              <input name="address" type="text" class="form-control" value="<%= customer[0].address %>">
            </div>
            <div class="form-group">
              <label>Zip Code</label>
              <input name="zipcode" type="text" class="form-control" value="<%= customer[0].zipcode %>">
            </div>
            <div class="form-group">
              <label>Phone</label>
              <input name="phone" type="text" class="form-control" value="<%= customer[0].phone %>">
            </div>
            <button type="submit" class="btn btn-primary">Update Customer</button>
          </form>
        </div>
      </div>
    </div>

  <% }
 %>

<% include script %>
