  <div class="row">
        <a href="/library/books/add" class="btn btn-lg btn-success">Add Book</a>

        <a href="/library/customers/add" class="btn btn-lg btn-success">Add Customer</a>
  </div>
  
  <h2>Books</h2>

  <table class="table table-bordered table-hover table-striped" style="margin-top: 20px">
    <thead>
      <tr>
        <th>isbn</th>
        <th>title</th>
        <th>author</th>
        <th>category</th>
        <th>stock</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% for (var book of books) { %>
        <tr>
          <td><%= book.isbn %></td>
          <td><%= book.title %></td>
          <td><%= book.author %></td>
          <td><%= book.category %></td>
          <td><%= book.stock %></td>
          <td>
            <a href="/library/books/<%= book._id %>" class="btn btn-sm btn-primary">View</a> &nbsp;
            <a href="/library/books/<%= book._id %>/edit" class="btn btn-sm btn-warning">Edit</a> &nbsp;
            <a href="/library/books/<%= book._id %>/delete" class="btn btn-sm btn-danger">Delete</a>
          </td>
        </tr>
      <% } %>
    </tbody>
  </table>
  
  <h2>Customers</h2>

  <table class="table table-bordered table-hover table-striped" style="margin-top: 20px">
    <thead>
      <tr>
        <th>name</th>
        <th>memberid</th>
        <th>address</th>
        <th>zipcode</th>
        <th>phone</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% for (var customer of customers) { %>
        <tr>
          <td><%= customer.name %></td>
          <td><%= customer.memberid %></td>
          <td><%= customer.address %></td>
          <td><%= customer.zipcode %></td>
          <td><%= customer.phone %></td>
          <td>
            <a href="/library/customers/<%= customer._id %>" class="btn btn-sm btn-primary">View</a> &nbsp;
            <a href="/library/customers/<%= customer._id %>/edit" class="btn btn-sm btn-warning">Edit</a> &nbsp;
            <a href="/library/customers/<%= customer._id %>/delete" class="btn btn-sm btn-danger">Delete</a>
          </td>
        </tr>
      <% } %>
    </tbody>
  </table>
