extends ../layout

block content
  .row
    .container
      .jumbotron.text-center
        h1 Add New Transaction
      form(action='/transaction/add' method='post')
        .form-group
          label.control-label(for='member_id') Member_ID
          select#memberid.form-control(name='memberid')
            - for(var i = 0 ; i < customers.length ; i++)
                option(value="#{customers[i]._id}") #{customers[i]._id} - #{customers[i].name}
        .form-group
          label.control-label(for='days') Days
          input#days.form-control(type='number', name='days')
        .form-group
          label.control-label(for='in_date') In Date
          input#in_date.form-control(type='date', name='in_date')
        .form-group
          label.control-label(for='due_date') Due Date
          input#due_date.form-control(type='date', name='due_date')
        .form-group
          label.control-label(for='out_date') Out Date
          input#out_date.form-control(type='date', name='out_date')
        .form-group
          label.control-label(for='fine') Fine
          input#fine.form-control(type='number', name='fine')
        .form-group
          label.control-label(for='booklist') Booklist (Press ctrl to select)
          select#booklist.form-control(name='booklist' multiple)
            - for(var i = 0 ; i < books.length ; i++)
                option(value="#{books[i].title}") #{books[i].title}
        .form-group
          button.btn.btn-primary(type="submit") Submit
