extends ../layout

block content
  .row
    .container
      .jumbotron.text-center
        h1 Books Management
  .row
    .container
      table.table.table-striped.table-hover
        thead
          tr
            th #
            th Member_ID
            th Days
            th Out
            th Due
            th In
            th Fine
            th Booklist
            th Action
        tbody
          - for(var i = 0 ; i < transactions.length ; i++)
              tr
                td #{i+1}
                td #{transactions[i].memberid}
                td #{transactions[i].days}
                td #{transactions[i].out_date}
                td #{transactions[i].due_date}
                td #{transactions[i].in_date}
                td #{transactions[i].fine}
                td
                  - for(var j = 0 ; j < transactions[i].booklist.length ; j++)
                      span ISBN : #{transactions[i].booklist[j].isbn}
                      &nbsp;
                      span qty : #{transactions[i].booklist[j].qty}
                      br
                td
                  a.btn.btn-success(href='book/id' alt='View Details')
                    span.glyphicon.glyphicon-eye-open
                  a.btn.btn-warning(href='book/id/edit' alt='Edit')
                    span.glyphicon.glyphicon-edit
                  a.btn.btn-danger(href='book/id/delete' alt='Delete')
                    span.glyphicon.glyphicon-trash
