extends ../layout

block content
  .row
    .container
      .jumbotron.text-center
        h1 Customers Management
  .row
    .container
      a.btn.btn-success(href='/customer/add' alt='View Details') Add New Customer
      table.table.table-striped.table-hover
        thead
          tr
            th #
            th Name
            th Member_ID
            th Address
            th zipcode
            th Phone
            th Action
        tbody
          - for(var i = 0 ; i < customers.length ; i++)
              tr
                td #{i+1}
                td #{customers[i].name}
                td #{customers[i].memberid}
                td #{customers[i].address}
                td #{customers[i].zipcode}
                td #{customers[i].phone}
                td
                  a.btn.btn-success(href='#' alt='View Details')
                    span.glyphicon.glyphicon-eye-open
                  a.btn.btn-warning(href='/customer/#{customers[i]._id}/edit' alt='Edit')
                    span.glyphicon.glyphicon-edit
                  a.btn.btn-danger(href='/customer/#{customers[i]._id}/delete' alt='Delete' onclick="return confirm('Are you sure?')")
                    span.glyphicon.glyphicon-trash
